.head1 h1{
    font-size: 60px;
}
.head1 button{
    height: 50px;
    width: 250px;
}

.btn1:hover{
    cursor: pointer;
     transform: translatey(-5px);
}
.btn2:hover{
    color: lightsalmon;
    border: 2px solid #CEAF7F;
     transform: translatey(-5px);
}

.btn1{
     background-color: #CEAF7F;
     border: 0;
     border-radius: 4px;
     transition: transform 0.3s ease;
     color: brown;
}
.btn2{
    border: 2px solid white;
    border-radius: 4px;
    transition: transform 0.3s ease;
}
.head3 i{
    font-size: 30px;
    
}
li{
    margin-right: 20px;
}


#logo{
    margin-right: 100px
}
#a11{
    margin-right: 220px;
}
.head2 h1{
    margin-bottom: 30px;
    font-size: 70px;
    font-weight: 700;
}
#span1{
    background-color: #CEAF7F;
    color: brown;
    width: 170px;
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
    height: 35px;
    width: 230px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
*{
    background-color: black;
    color: white;
}

.marg{
   padding-bottom: 0px !important;
    padding-top: 0px !important;
    height: 100px;
}
.img2{
    height: 650px;
}
.head1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.main1{
    height: 700px;
}
.intro{
   
    display: flex;
    flex-direction: row;
    
    gap: 18px;
}
.intro img{
    height: 70px;
    width: 70px;
    border-radius: 50px;
   border: 3px solid burlywood;
   margin-top: 13px;
}
.intro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main2{
    margin-top: 80px;
}
body{
    background-color: black !important;
}
.second img{
    border: 4px solid rgb(63, 58, 58);
    border-radius: 10px;
   
}
.main3{
    margin-top: 100px;
}
.m3 h3{
    color: white;
}
.m3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.m3 i{
 
    font-size: 23px;
    margin-top: 10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #CEAF7F ;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    color: brown;
}

.c11{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.m3:hover{
     transform: translatey(-20px);
     
}
.m3{
    transition: transform 0.3s ease;
}
.co1{
    margin-top: 90px;
    background-color: #f1f3f5;
}
.ex1{
    align-items: center;
    text-align: center;
}
.co1 h1{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #CEAF7F;
    margin: 0;
}
.m7 button{
    background-color: #CEAF7F;
    border: 0;
    width: 150px;
    border-radius: 20px;
    color: brown;
}
.m7 button:hover{
    background-color: #CEAF7F;
}
.co2{
    margin-top: 100px;
}
.co2 h1{
    font-size: 50px;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.r2{
    text-align: center;
}
.r3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
    gap: 25px;
}

.h11{
    background-color: #CEAF7F;
    height: 35px;
    width: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 16px;
   text-align: center;
   border-radius: 17px;
}
.h22{
    background-color: #252a2b;
    height: 35px;
    width: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 16px;
   text-align: center;
   border-radius: 17px;
}
.h33{
    background-color: #252a2b;
    height: 35px;
    width: 120px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 16px;
   text-align: center;
   border-radius: 17px;
}
.h44{
    background-color: #252a2b;
    height: 35px;
    width: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 16px;
   text-align: center;
   border-radius: 17px;
}
.h55{
    background-color: #252a2b;
    height: 35px;
    width: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 16px;
   text-align: center;
   border-radius: 17px;
}
.menu1{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter1{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter1 h5{
    background-color: #252a2b;
    
    margin-bottom: 0;
}
.starter1 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu1 img{
    border-radius: 10px;
}
.font1{
    color: #CEAF7F;
}
.menu2{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter2{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter2 h5{
    background-color: #252a2b;
   
    margin-bottom: 0;
}
.starter2 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu2 img{
    border-radius: 10px;
}
.font2{
    color: #CEAF7F;
}
.menu3{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter3{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter3 h5{
    background-color: #252a2b;
  
    margin-bottom: 0;
}
.starter3 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu3 img{
    border-radius: 10px;
}
.font3{
    color: #CEAF7F;
}
.menu4{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter4{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter4 h5{
    background-color: #252a2b;
   
    margin-bottom: 0;
}
.starter4 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu4 img{
    border-radius: 10px;
}
.font4{
    color: #CEAF7F;
}
.co3{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 80px !important;
}
.menu5{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter5{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter5 h5{
    background-color: #252a2b;
   
    margin-bottom: 0;
}
.starter5 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu5 img{
    border-radius: 10px;
}
.font5{
    color: #CEAF7F;
}
.menu6{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter6{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter6 h5{
    background-color: #252a2b;
   
    margin-bottom: 0;
}
.starter6 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu6 img{
    border-radius: 10px;
}
.font6{
    color: #CEAF7F;
}
.menu7{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter7{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter7 h5{
    background-color: #252a2b;
   
    margin-bottom: 0;
}
.starter7 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu7 img{
    border-radius: 10px;
}
.font7{
    color: #CEAF7F;
}
.menu8{
    height: 120px;
    width: 270px;
    background-color:#252a2b;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
}
.starter8{
    height: 80px;
    width: 500px;
    background-color: #252a2b;
}
.starter8 h5{
    background-color: #252a2b;
   
    margin-bottom: 0;
}
.starter8 p{
    background-color: #252a2b;
    margin-bottom: 8px;
}
.menu8 img{
    border-radius: 10px;
}
.font8{
    color: #CEAF7F;
}
#Home1{
    color: #CEAF7F;
}
.mainr4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.r4{
    border: 2px solid #CEAF7F;
    height: 36px;
    width: 220px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #CEAF7F;
    color: brown;
    border-radius: 15px;
}
.r4 h5{
    background-color: #CEAF7F;
    align-items: center;
    margin-top: 5px;

    
}
.title{
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 10px;
    height: 50px;
    width: 170px;
    background-color: brown;
    margin-bottom: 10px;
    border-radius: 15px;
}
.title i{
    color: #CEAF7F;
    margin-top: 17px;
}
.titlem1{
    padding-left: 120px;
}
.title h5{
    margin-bottom: 3px;
    background-color: brown;
}
.title i{
    margin-bottom: 3px;
    background-color: brown;
}
.title h5{
    margin-top: 12px;
}

.card1 img{
     height: 230px;
}
.body1{
    color: #CEAF7F;
}
.g5{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #252a2b;
}
.g5 p{
    margin-bottom: 0;
    background-color: #252a2b;
}
.g5 h4{
     margin-top: 10px;
}
.box1{
    background-color: #252a2b;
    height: 450px;

    border-radius: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}
.card1{
    height: 380px;
    width: 580px !important;
   margin-top: 35px;
}
.card2 img{
     height: 230px;
     
}
.body2{
    color: #CEAF7F;
}
.g6{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #252a2b;
}
.g6 p,h4{
    margin-bottom: 0;
    background-color: #252a2b;
}
.g6 h4{
    margin-top: 10px;
}
.box2{
    background-color: #252a2b;
    height: 450px;
    border-radius: 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}
.card2{
    height: 380px;
    width: 580px !important;
   margin-top: 35px;
}
.aj1 i{
    color: gold;
    margin-bottom: 10px;
}
.aj1 img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.aj1{
    align-items: center;
    text-align: center;
    gap: 6px;
}
.aj1 h3{
    color: white;
    margin-bottom: 4px;
}
.aj2 i{
    color: gold;
    margin-bottom: 10px;
}
.aj2 img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.aj2{
    align-items: center;
    text-align: center;
    gap: 6px;
}
.aj2 h3{
    color: white;
    margin-bottom: 4px;
}
.aj3 i{
    color: gold;
    margin-bottom: 10px;
}
.aj3 img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.aj3{
    align-items: center;
    text-align: center;
    gap: 6px;
}
.aj3 h3{
    color: white;
    margin-bottom: 4px;
}
.aj4 i{
    color: gold;
    margin-bottom: 10px;
}
.aj4 img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.aj4{
    align-items: center;
    text-align: center;
    gap: 6px;
}
.aj4 h3{
    color: white;
    margin-bottom: 4px;
}
.aj5 i{
    color: gold;
    margin-bottom: 10px;
}
.aj5 img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.aj5{
    align-items: center;
    text-align: center;
    gap: 6px;
}
.aj5 h3{
    color: white;
    margin-bottom: 4px;
}
.cc1 img{
    height: 500px;
}